html {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEC;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    height: 650px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

main {
    height: auto;
}

.info-blok {
    display: inline-block;
    vertical-align: top;
    height: 650px;
    width: 77%;
    float: right;
}

.personal-info {
    height: 650px;
    width: 21%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-card {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.btn-change {
    margin-top: 27px;
    margin-right: 15px;
    text-align: right;
}

.btn-change a {
    height: 15px;
    width: 55px;
    display: inline-block;
    text-decoration: none;
    color: #BEBEBE;
    border: 2px solid #BEBEBE;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.info-type {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 500;
}

.info-data {
    font-size: 1rem;
    font-weight: 500;
    color: #A0A0A0;
    margin-bottom: 15px;
}

.info-data a {
    text-decoration: none;
    color: #A0A0A0;
}

.btn-order, .btn-exit {
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.btn-order {
    margin-top: 110px;
}

.btn-order a, .btn-exit a {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #04BE00;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 700;
}

.btn-exit a {
    background-color: #DF0D00;
}


/* ----- HEADER ----- */

.header-info {
    height: 130px;
    width: 100%;
    border-radius: 10px;
    padding: 27px 29px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.balance {
    font-size: 1rem;
    font-weight: 500;
}

.points {
    font-size: 3rem;
    font-weight: 800;
}

.points span {
    color: #A0A0A0;
}

.balance-info {
    font-size: 1rem;
    font-weight: 500;
    color: #443E3E;
}


/* ----- order-info ----- */

.order-info {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
}

.order-info-header {
    background-color: white;
    height: 110px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
}

.history {
    font-size: 1.3rem;
    font-weight: 800;
    padding-left: 25px;
    background-color: white;
}

.order-info-card {
    width: 98%;
    padding: 0;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
}

.item-list {
    display: inline-block;
    width: 13%;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    padding: 10px 5px;
    margin: 0 3px;
    box-sizing: border-box;
    vertical-align: top;
}

.order-info-header li:nth-child(n+3) {
   margin-top: 0.4rem;
}

.order-info-description li:nth-child(n+5),
.order-info-description li:nth-child(2) {
    margin-top: 1rem;
}

.order-info-description li:nth-child(3),
.order-info-description li:nth-child(4) {
    margin-top: 0.7rem;
}

.orange>.item-list:last-child::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #F58020;
    border-radius: 50%;
    margin-right: 5px;
}
.orange>.item-list:last-child {
    color: #F58020;
}

.green>.item-list:last-child::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #69A042;
    border-radius: 50%;
    margin-right: 5px;
}

.green>.item-list:last-child {
    color: #69A042;
}

.btn-order-info {
    padding-left: 20px;
    margin: 20px 0;
}

.btn-order-info a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #757575;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #EAEAEA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.orange, .green {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}


/* ----- Footer ----- */

.footer {
    background-color: black;
    margin-top: 31px;
    overflow: hidden;
}

.contacts {
    width: 75%;
    margin: 0 auto;
}

.contacts-item {
    display: inline-block;
    font-size: 1.3rem;
    margin: 15px 10px 15px 0;
}

.contacts-item a {
    text-decoration: none;
    color: white;
}

.contacts-list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.social-netwok {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.social-netwok-item {
    display: inline-block;
    margin-left: 10px;
}

.social-netwok-item a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.social-netwok-item:nth-child(1) {
    background-image: url("../img/1335987452.jpg");
    background-position: -88px -12px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:nth-child(2) {
    background-image: url("../img/1335987452.jpg");
    background-position: -142px -11px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:nth-child(3) {
    background-image: url("../img/1335987452.jpg");
    background-position: -180px -12px;
    background-size: 130px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.social-netwok-item:hover {
    opacity: 0.7;
}

/* ----- Media ----- */

@media screen and (min-width: 1150px) and (max-width: 1300px) {
    .order-info-card {
        margin: 10px auto;
    }
    .item-list {
        padding: 10px 0;
        font-size: 0.8rem;
        width: 12%;
    }
}

@media screen and (max-width: 1149px) {
    .order-info-card {
        margin: 3px auto;
    }
    .item-list {
        padding: 0;
    }
}
